<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">

	<link rel="stylesheet" href="{{ niveau }}css/main.css">
	<link rel="icon" type="image/png" href="{{ niveau }}images/favicon.png" />

	<script src="{{ niveau }}js/vendor/modernizr.js"></script>

	<title>Bières | Claddagh</title>
</head>
<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	{{ include("header.html.twig") }}
	{% if erreur is not empty %}
			<p>{{ erreur }}</p>
		{% else %}

	<main id="page-bieres">

		<h1 class='prog'>Nos bières</h1>
		<a href="index.php" id="lien-retour">Retour aux choix de menus</a>

        <ul class="nav-menus">
            <li>
                <a href="#" class="menu-actif">Bières</a>
                <a href="vins.php">Vins</a>
                <a href="whiskey.php">Whiskey</a>
            </li>
        </ul>


        <ul>
            <h2>Ales</h2>
            {% for ale in ales %}
            <li class="nom-item">{{ ale.nom_plat }}</li>
            <li>
                {% for prix in ale.prix %}
                <ul class="les-prix">
                    <li>
                        <span class="description-prix-item">{{ prix.description }}</span>
                        <span class="prix-item">{{ prix.prix }} $</span>
                    </li>
                </ul>
                {% endfor %}
            </li>
            <li class="description-item">{{ ale.description }}</li>
            {% endfor %}

        </ul>
            
        <ul>
		  <h2>Blanches</h2>
    		{% for blanche in blanches %}
                <li class="nom-item">{{ blanche.nom_plat }}</li>
                <li>
                    {% for prix in blanche.prix %}
                    <ul class="les-prix">
                        <li>
                            <span class="description-prix-item">{{ prix.description }}</span>
                            <span class="prix-item">{{ prix.prix }} $</span>
                        </li>
                    </ul>
                    {% endfor %}
                </li>
                <li class="description-item">{{ blanche.description }}</li>
            {% endfor %}
        </ul>

        <ul>
    		<h2>Cidre</h2>
    		{% for cidre in cidres %}
                <li class="nom-item">{{ cidre.nom_plat }}</li>
                <li>
                    {% for prix in cidre.prix %}
                        <ul class="les-prix">
                            <li>
                                <span class="description-prix-item">{{ prix.description }}</span>
                                <span class="prix-item">{{ prix.prix }} $</span>
                            </li>
                        </ul>
                    {% endfor %}
                </li>
                <li class="description-item">{{ cidre.description }}</li>
            {% endfor %}
        </ul>

        <ul>
		<h2>I.P.A</h2>
    		{% for ipa in ipas %}
                <li class="nom-item">{{ ipa.nom_plat }}</li>
                <li>
                    {% for prix in ipa.prix %}
                    <ul class="les-prix">
                        <li>
                            <span class="description-prix-item">{{ prix.description }}</span>
                            <span class="prix-item">{{ prix.prix }} $</span>
                        </li>
                    </ul>
                    {% endfor %}
                </li>
                <li class="description-item">{{ ipa.description }}</li>
            {% endfor %}
        </ul>

        <ul>
		<h2>Lagers</h2>
    		{% for lager in lagers %}
                <li class="nom-item">{{ lager.nom_plat }}</li>
                <li>    
                    {% for prix in lager.prix %}
                    <ul class="les-prix">
                        <li>
                            <span class="description-prix-item">{{ prix.description }}</span>
                            <span class="prix-item">{{ prix.prix }} $</span>
                        </li>
                    </ul>
                    {% endfor %}
                </li>
                <li class="description-item">{{ lager.description }}</li>
            {% endfor %}
        </ul>

        <ul>
		<h2>Souts</h2>
    		{% for stout in stouts %}
                <li class="nom-item">{{ stout.nom_plat }}</li>
                <li>
                    {% for prix in stout.prix %}
                    <ul class="les-prix">
                            <li>
                                 <span class="description-prix-item">{{ prix.description }}</span>
                                <span class="prix-item">{{ prix.prix }} $</span>
                            </li>
                        </ul>
                        {% endfor %}
                </li>
                <li class="description-item">{{ stout.description }}</li>
            {% endfor %}
        </ul>

        <ul id="biere-bouteille">
    		<h2>Bières en bouteille</h2>
    		{% for bouteille in bouteilles %}
                <li class="nom-item">{{ bouteille.nom_plat }}</li>
                <li>
                    {% for prix in bouteille.prix %}
                    <ul class="les-prix">
                            <li>
                                <span class="description-prix-item">{{ prix.description }}</span>
                                <span class="prix-item">{{ prix.prix }} $</span>
                            </li>
                    </ul>
                    {% endfor %}
                </li>
                <li class="description-item">{{ bouteille.description }}</li>
            {% endfor %}
        </ul>

        <ul>
        <h2>Mélanges celtiques</h2>
    		{% for melange in melanges %}
                <li class="nom-item">{{ melange.nom_plat }}</li>
                <li>
                    {% for prix in melange.prix %}
                    <ul class="les-prix">
                            <li>
                                <span class="description-prix-item">{{ prix.description }}</span>
                                <span class="prix-item">{{ prix.prix }} $</span>
                            </li>
                        </ul>
                        {% endfor %}
                </li>
                <li class="description-item">{{ melange.description }}</li>
            {% endfor %}
        </ul>
	</main>

	{% endif %}
	{{ include("footer.html.twig") }}

</body>
</html>