<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">

	<link rel="stylesheet" href="{{ niveau }}css/main.css">
	<link rel="icon" type="image/png" href="{{ niveau }}images/icone.png" />

	<script src="{{ niveau }}js/vendor/modernizr.js"></script>

	<title>Desserts | Claddagh</title>
</head>
<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	{{ include("header.html.twig") }}
	{% if erreur is not empty %}
			<p>{{ erreur }}</p>
		{% else %}

	<main>

		<h1 class='prog'>Nos desserts</h1>
		<section>
			{% for i in contenu %}
			<article>
			<h2>{{ contenu[loop.index0]["titre"]|raw }}</h2>
			{{ contenu[loop.index0]["texte"]|raw }}
			</article>
			{% endfor %}
		</section>
	</main>

	{% endif %}
	{{ include("footer.html.twig") }}

</body>
</html>