<header id="header-accueil">
	<nav>
		<ul>
			<li class="manger"><a href="{{ niveau }}manger/index.php">À manger</a>
				<!--<ul class="sousCategorie">
					<li><a href="{{ niveau }}futur-etudiant/quiz/index.php">Quiz</a></li>
					<li><a href="{{ niveau }}futur-etudiant/perspectives.php">Perspectives</a></li>
					<li><a href="{{ niveau }}futur-etudiant/temoignages/index.php">Témoignages</a></li>
				</ul >-->
			</li>
			<li class="boire"><a href="{{ niveau }}boire/index.php">À boire</a>
				<!--<ul class="sousCategorie">
					<li><a href="{{ niveau }}programme/equipe.php">Équipe</a></li>
					<li><a href="{{ niveau }}programme/grille-de-cours.php">Grille de cours</a></li>
				</ul>-->
			</li>
			<li><a href="{{ niveau }}promos/index.php">Nos promotions</a>
				<!--<ul class="sousCategorie">
					<a href="{{ niveau }}stages/international.php"><li>International</li></a>
					<li><a href="{{ niveau }}stages/ate.php">ATE</a></li>
				</ul>-->
			</li>
			<li><a href="{{ niveau }}joindre/index.php">Le pub</a></li>
		</ul>
	</nav>
	<p id="num-telephone">Réservation 111-111-1111</p>
</header>

