<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ niveau }}images/favicon.png" />
        <link rel="stylesheet" href="{{ niveau }}css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <script src="{{ niveau }}js/vendor/modernizr.js"></script>

        <title>Claddagh</title>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{ include("headerAccueil.html.twig") }}
        {% if erreur is not empty %}
            <p>{{ erreur }}</p>
        {% else %}

        <main id="page-accueil">

            <h1 class="visuallyhidden">BIENVENUE SUR LE SITE DU PUB GALWAY</h1>
            <div id="section-promo">
            <img src="images/accueil-nourriture.png" id="img-gauche" alt="Le Pub Claddagh à l'ouverture officielle."/>
            <div id="contenu-droite">
                <h2>Promo vedette</h2>
                <img src="images/symbole_graphique2.png" class="symbole-graphique" alt="logo du Pub"/><br/>
                    {% for promo in promos %}
                        <h3>{{ promo.nom_promotion }}</h3>
                        <p class="description-promotion">{{ promo.description_promotion }}</p>
                    {% endfor %}
                <a href="promos/index.php" class="btn-accueil">Voir toutes les promotions</a>
            </div>
            </div>
            <img src="images/pompes.jpg" alt="Images des pompes à bière" id="img-pompes"/>
            <div id="section-degustation">
                <div id="contenu-gauche">
                    <h2>Degustation Whiskey</h2>
                    <img src="images/symbole_graphique2.png" class="symbole-graphique" alt=""logo du pub/><br/>
                        <a href="{{ niveau }}boire/whiskey.php" id="lien-whiskeys">Voir tous les whiskeys <i class="fa fa-angle-right fa-lg"></i></a>
                    <p>La prochaine dégustation aura lieu le samedi 12 mars à 13h30.</p>
                    <p>Pour plus d'informations ou pour vous inscrire :</p>
                    <p>infos@pubgalway.com</p>
                    <p>111-111-1111</p>
                        <a href="{{ niveau }}joindre/index.php" class="btn-accueil">Contacter le pub</a>
                </div>
                <img src="images/accueil-whiskey.png" id="img-droite" alt="Le Pub Claddagh à l'ouverture officielle."/>
            </div>
        </main> <!-- #main-container -->

        {% endif %}
        {{ include("footer.html.twig") }}
    </body>
</html>
