<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ niveau }}images/favicon.png" />
        <link rel="stylesheet" href="{{ niveau }}css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <script src="{{ niveau }}js/vendor/modernizr.js"></script>

        <title>Le Pub | Claddagh</title>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{ include("header.html.twig") }}
        {% if erreur is not empty %}
            <p>{{ erreur }}</p>
        {% else %}

        <main id="page-joindre">

                <h1 class="neutre">Le Pub</h1>
                <p id="description">Venez à la rencontre de notre équipe dynamique et attentionnée dans un décor typique irlandais. Au menu, bières importées et microbrasseries locales et du monde, whiskey, fish and chips. Pour la saison d'été, une magnifique terrasse dans le vieux Québec saura vous charmer.<br/>*La Claddagh ring (Irlandais: fáinne Chladaigh) est une bague traditionnelle irlandaise, offerte pour des fiançailles ou portée comme alliance. Aujourd’hui, elle peut être utilisée comme gage d’amitié. La bague et les coutumes qui lui sont associées viennent de Claddagh, un village de pêcheurs, qui se trouve juste derrière les vieux murs de Galway, dans l’ouest de l’Irlande. La bague a été créée au xviie siècle sous le règne de Mary II d’Angleterre, bien que certains de ses éléments soient bien plus anciens. <span style="font-size:1.2rem;">(*Référence: Wikipédia)</span></p>

                <div id="box-adresse">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43671.05160800813!2d-71.29530042665053!3d46.835013327857304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb896754468dd7b%3A0x8d15560af432535f!2sPub+Claddagh!5e0!3m2!1sfr!2sfr!4v1459074556439" width="1024" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <div id="section-joindre">
                        <h3>Nous joindre</h3>
                        <p>1112, rue Cartier, Québec, <br/>Québec, G1R 2S5</p>
                        <p><span class="bold">Réservation :</span> 111-111-1111</p>
                    </div><!--fermeture section-joindre-->
                    <div id="section-heures">
                        <h3>Heures ouverture</h3>
                        <p><span class="jour-semaine">Dimanche</span> <span class="heures-ouverture">11h30-23h</span></p>
                        <p><span class="jour-semaine">Lundi</span> <span class="heures-ouverture">11h30-23h</span></p>
                        <p><span class="jour-semaine">Mardi</span> <span class="heures-ouverture">11h30-23h</span></p>
                        <p><span class="jour-semaine">Mercredi</span> <span class="heures-ouverture">11h30-2h00</span></p>
                        <p><span class="jour-semaine">Jeudi</span> <span class="heures-ouverture">11h30-2h00</span></p>
                        <p><span class="jour-semaine">Vendredi</span> <span class="heures-ouverture">11h30-2h00</span></p>
                        <p><span class="jour-semaine">Samedi</span> <span class="heures-ouverture">11h30-2h00</span></p>
                    </div><!--fermeture section-heures-->
                    <div id="section-suivre">
                        <h3>Nous suivre</h3>
                        <a target="_blank" href="https://www.facebook.com/PubirlandaisCladdagh/?fref=ts" id="icone-facebook"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="#">
                        <i class="fa fa-twitter-square fa-3x"></i></a>
                    </div><!--fermeture section-suivre-->
                </div><!--fermeture box-adresse-->
                <div id="section-formulaire">
                <h2>Contactez-nous</h2>
                    <form action="#" method="post">
                        {% if erreurFormulaire == true %}<span class="erreur" id="erreurGenerale">
                            <i class="fa fa-exclamation-triangle fa-2x"></i> {{ erreurGenerale }}</span>

                            {% elseif erreurFormulaire == false %} <p class="succes"> {{ strMessageSucces }} </p>
                        {% endif %}

                        <div id="section-gauche">
                            <label for="nom">Nom complet *</label><br/><input type="text" name="nom" id="nom" value="{{ nom }}"  pattern="^[a-zA-Z -]{2,}$" required="required"/><br/>
                            <span class="erreur">{{ erreurNom }}</span><br/><br/>

                            <label for="courriel">Courriel *</label><br/><input type="text" name="courriel" id="courriel" value="{{ courriel }}" pattern="^[a-zA-Z][a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[@][a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-z]{2,4}$" required="required"/><br/>
                            <span class="erreur">{{ erreurCourriel }}</span><br/><br/>

                            <label for="sujet">Sujet *</label><br/><input type="text" name="sujet" id="sujet" value="{{ sujet }}" required="required"/><br/>
                            <span class="erreur">{{ erreurSujet }}</span>
                        </div><!--fermeture section-gauche-->
                        
                        <div id="section-droite"><label for="message">Message *</label><br/><textarea  name="message" id="message">{{ message }}</textarea><br/>
                        <span class="erreur">{{ erreurMessage }}</span><br/><br/>

                            <button type="submit" id="bt-envoyer" name="envoyer">Envoyer</button>
                        </div><!--fermeture section-droite-->
                    </form>
                </div><!--fermeture section-formulaire-->

        </main> <!-- #main-container -->

        {% endif %}
        {{ include("footer.html.twig") }}

        <script src="{{ niveau }}bower_components/jquery/dist/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ niveau }}js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/script.min.js"></script>
    </body>
</html>
