<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{{ niveau }}css/main.css">

        {#<script src="{{ niveau }}js/vendor/modernizr.js"></script>#}
        <script src="../../js/vendor/fullscreen_form/modernizr.custom.js"></script>


{# Fullscreen-form #}
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/demo.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/component.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/cs-select.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/cs-skin-boxes.css" />

        <title>Principaux | Claddagh</title>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{ include("header.html.twig") }}
        {% if erreur is not empty %}
            <p>{{ erreur }}</p>
        {% else %}

        <main>
            <h1>Nos plats principaux</h1>

            <div class="profil">
                <h2>As-tu le profil ?</h2>
                <p>Compléter le quiz "As tu le profil" afin de découvrir si vous possèder les habiletés nécessaire au travail d'intégrateur multimédia. Un résultat personnalisé vous donnera plus d'information sur votre profil à la fin du quiz.</p>
                <form method="get" name="timQuizProfil">
                    <section id="Q1">
                        <fieldset>
                            <section class="innerQuestion">
                            <h3><span class="numeroQuestionActive">1.</span> {{quiz1.question.0.texteQuestion}} </h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q1A" type="radio" name="Q1" value="1">
                                        <label for="Q1A">A. {{quiz1.question.0.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q1B" type="radio" name="Q1" value="2" requiredp>
                                        <label for="Q1B">B. {{quiz1.question.0.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q1C" type="radio" name="Q1" value="4">
                                        <label for="Q1C">C. {{quiz1.question.0.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q1D" type="radio" name="Q1" value="5">
                                        <label for="Q1D">D. {{quiz1.question.0.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q2">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">2.</span> {{quiz1.question.1.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q2A" type="radio" name="Q2" value="1" required>
                                        <label for="Q2A">A. {{quiz1.question.1.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q2B" type="radio" name="Q2" value="2">
                                        <label for="Q2B">B. {{quiz1.question.1.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q2C" type="radio" name="Q2" value="4">
                                        <label for="Q2C">C. {{quiz1.question.1.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q2D" type="radio" name="Q2" value="5">
                                        <label for="Q2D">D. {{quiz1.question.1.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q3">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">3.</span> {{quiz1.question.2.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q3A" type="radio" name="Q3" value="1" required>
                                        <label for="Q3A">A. {{quiz1.question.2.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q3B" type="radio" name="Q3" value="2">
                                        <label for="Q3B">B. {{quiz1.question.2.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q3C" type="radio" name="Q3" value="4">
                                        <label for="Q3C">C. {{quiz1.question.2.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q3D" type="radio" name="Q3" value="5">
                                        <label for="Q3D">D. {{quiz1.question.2.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q4">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">4.</span> {{quiz1.question.3.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q4A" type="radio" name="Q4" value="1" required>
                                        <label for="Q4A">A. {{quiz1.question.3.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q4B" type="radio" name="Q4" value="2">
                                        <label for="Q4B">B. {{quiz1.question.3.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q4C" type="radio" name="Q4" value="4">
                                        <label for="Q4C">C. {{quiz1.question.3.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q4D" type="radio" name="Q4" value="5">
                                        <label for="Q4D">D. {{quiz1.question.3.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q5">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">5.</span> {{quiz1.question.4.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q5A" type="radio" name="Q5" value="1" required>
                                        <label for="Q5A">A. {{quiz1.question.4.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q5B" type="radio" name="Q5" value="2">
                                        <label for="Q5B">B. {{quiz1.question.4.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q5C" type="radio" name="Q5" value="4">
                                        <label for="Q5C">C. {{quiz1.question.4.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q5D" type="radio" name="Q5" value="5">
                                        <label for="Q5D">D. {{quiz1.question.4.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q6">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">6.</span> {{quiz1.question.5.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q6A" type="radio" name="Q6" value="1" required>
                                        <label for="Q6A">A. {{quiz1.question.5.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q6B" type="radio" name="Q6" value="2">
                                        <label for="Q6B">B. {{quiz1.question.5.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q6C" type="radio" name="Q6" value="4">
                                        <label for="Q6C">C. {{quiz1.question.5.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q6D" type="radio" name="Q6" value="5">
                                        <label for="Q6D">D. {{quiz1.question.5.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q7">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">7.</span> {{quiz1.question.6.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q7A" type="radio" name="Q7" value="1" required>
                                        <label for="Q7A">A. {{quiz1.question.6.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q7B" type="radio" name="Q7" value="2">
                                        <label for="Q7B">B. {{quiz1.question.6.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q7C" type="radio" name="Q7" value="4">
                                        <label for="Q7C">C. {{quiz1.question.6.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q7D" type="radio" name="Q7" value="5">
                                        <label for="Q7D">D. {{quiz1.question.6.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q8">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">8.</span> {{quiz1.question.7.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q8A" type="radio" name="Q8" value="1" required>
                                        <label for="Q8A">A. {{quiz1.question.7.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q8B" type="radio" name="Q8" value="2">
                                        <label for="Q8B">B. {{quiz1.question.7.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q8C" type="radio" name="Q8" value="4">
                                        <label for="Q8C">C. {{quiz1.question.7.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q8D" type="radio" name="Q8" value="5">
                                        <label for="Q8D">D. {{quiz1.question.7.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q9">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">9.</span> {{quiz1.question.8.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q9A" type="radio" name="Q9" value="1" required>
                                        <label for="Q9A">A. {{quiz1.question.8.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q9B" type="radio" name="Q9" value="2">
                                        <label for="Q9B">B. {{quiz1.question.8.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q9C" type="radio" name="Q9" value="4">
                                        <label for="Q9C">C. {{quiz1.question.8.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q9D" type="radio" name="Q9" value="5">
                                        <label for="Q9D">D. {{quiz1.question.8.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q10">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">10.</span> {{quiz1.question.9.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q10A" type="radio" name="Q10" value="1" required>
                                        <label for="Q10A">A. {{quiz1.question.9.reponses.reponse.0.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q10B" type="radio" name="Q10" value="2">
                                        <label for="Q10B">B. {{quiz1.question.9.reponses.reponse.1.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q10C" type="radio" name="Q10" value="4">
                                        <label for="Q10C">C. {{quiz1.question.9.reponses.reponse.2.texteReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q10D" type="radio" name="Q10" value="5">
                                        <label for="Q10D">D. {{quiz1.question.9.reponses.reponse.3.texteReponse}}</label>
                                    </li>
                                </ul>
                            </section>
                        </fieldset>
                    </section>
                    <div class="clearfix"></div>
                    <input id='validerQuizProfil' name='validerQuizProfil' type="submit" value="Valider mes choix">
                </form>
            </div>

            <div class="bon-choix">
                <h2>Fais-tu le bon choix ?</h2>
                <p>Compléter le quiz "fais-tu le bon choix" afin de savoir si vous connaissez bien la formation offerte dans le programme Technique d'intégration multimédia.
Des réponses interactives vous aiderons à mieux connaître notre programme et vous donnerons des informations supplémentaires à propos de la formation.</p>
                <form method="get" name="timQuizProfil">
                    <section id="Q1">
                        <fieldset>
                            <section class="innerQuestion">
                            <h3><span class="numeroQuestionActive">1.</span> {{quiz2.question.0.texteQuestion}} </h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q1A" type="radio" name="Q1" value="0">
                                        <label for="Q1A">{{quiz2.question.0.reponses.reponse.0.libelleReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q1B" type="radio" name="Q1" value="1" requiredp>
                                        <label for="Q1B">{{quiz2.question.0.reponses.reponse.1.libelleReponse}}</label>
                                    </li>
                                </ul>
                                <p class="reponseFormation">{{ quiz2Resultat[0] }}</p>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q2">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">2.</span> {{quiz2.question.1.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q2A" type="radio" name="Q2" value="0" required>
                                        <label for="Q2A">{{quiz2.question.1.reponses.reponse.0.libelleReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q2B" type="radio" name="Q2" value="1">
                                        <label for="Q2B">{{quiz2.question.1.reponses.reponse.1.libelleReponse}}</label>
                                    </li>
                                </ul>
                                <p class="reponseFormation">{{ quiz2Resultat[1] }}</p>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q3">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">3.</span> {{quiz2.question.2.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q3A" type="radio" name="Q3" value="0" required>
                                        <label for="Q3A">{{quiz2.question.2.reponses.reponse.0.libelleReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q3B" type="radio" name="Q3" value="1">
                                        <label for="Q3B">{{quiz2.question.2.reponses.reponse.1.libelleReponse}}</label>
                                    </li>
                                </ul>
                                <p class="reponseFormation">{{ quiz2Resultat[2] }}</p>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q4">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">4.</span> {{quiz2.question.3.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q4A" type="radio" name="Q4" value="0" required>
                                        <label for="Q4A">{{quiz2.question.3.reponses.reponse.0.libelleReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q4B" type="radio" name="Q4" value="1">
                                        <label for="Q4B">{{quiz2.question.3.reponses.reponse.1.libelleReponse}}</label>
                                    </li>
                                </ul>
                                <p class="reponseFormation">{{ quiz2Resultat[3] }}</p>
                            </section>
                        </fieldset>
                    </section>
                    <section id="Q5">
                        <fieldset>
                            <section>
                                <h3><span class="numeroQuestionActive">5.</span> {{quiz2.question.4.texteQuestion}}</h3>
                                <ul class="choixReponses">
                                    <li>
                                        <input id="Q5A" type="radio" name="Q5" value="0" required>
                                        <label for="Q5A">{{quiz2.question.4.reponses.reponse.0.libelleReponse}}</label>
                                    </li>
                                    <li>
                                        <input id="Q5B" type="radio" name="Q5" value="1">
                                        <label for="Q5B">{{quiz2.question.4.reponses.reponse.1.libelleReponse}}</label>
                                    </li>
                                </ul>
                                <p class="reponseFormation">{{ quiz2Resultat[4] }}</p>
                            </section>
                        </fieldset>
                    </section>
                    <div class="clearfix"></div>
                    <input id='validerQuizFormation' name='validerQuizFormation' type="submit" value="Valider mes choix">
                </form>
            </div>
            <div class="resultat">
                {{ quiz1Resultat }}
            </div>
        </main> <!-- #main-container -->



        <div class="container timQuizProfil">
            <div class="fs-form-wrap" id="fs-form-wrap">
                <form id="timQuizProfil" class="fs-form fs-form-full" name="timQuizProfil" autocomplete="off" method="get">
                    <ol class="fs-fields">
                        <li id="Q1">
                            <h3 class="fs-anim-upper"><span class="numeroQuestionActive">1.</span> {{quiz2.question.0.texteQuestion}} </h3>
                            <input id="Q1A" type="radio" name="Q1" value="0" class="fs-anim-lower">
                            <label for="Q1A" class="fs-field-label fs-anim-upper">{{quiz2.question.0.reponses.reponse.0.libelleReponse}}</label>
                            <input id="Q1B" type="radio" name="Q1" value="1" class="fs-anim-lower" required>
                            <label for="Q1B" class="fs-field-label fs-anim-upper">{{quiz2.question.0.reponses.reponse.1.libelleReponse}}</label>
                            <p class="reponseFormation">{{ quiz2Resultat[0] }}</p>
                        </li>
                        <li id="Q2">
                            <h3 class="fs-anim-upper"><span class="numeroQuestionActive">2.</span> {{quiz2.question.1.texteQuestion}}</h3>
                            <input id="Q2A" type="radio" name="Q2" value="0" class="fs-anim-lower" required>
                            <label for="Q2A" class="fs-field-label fs-anim-upper">{{quiz2.question.1.reponses.reponse.0.libelleReponse}}</label>
                            <input id="Q2B" type="radio" name="Q2" value="1" class="fs-anim-lower">
                            <label for="Q2B" class="fs-field-label fs-anim-upper">{{quiz2.question.1.reponses.reponse.1.libelleReponse}}</label>
                            <p class="reponseFormation">{{ quiz2Resultat[1] }}</p>
                        </li>

                        <li id="Q3">
                            <h3 class="fs-anim-upper"><span class="numeroQuestionActive">3.</span> {{quiz2.question.2.texteQuestion}}</h3>
                            <input id="Q3A" type="radio" name="Q3" value="0" class="fs-anim-lower" required>
                            <label for="Q3A" class="fs-field-label fs-anim-upper">{{quiz2.question.2.reponses.reponse.0.libelleReponse}}</label>
                            <input id="Q3B" type="radio" name="Q3" value="1" class="fs-anim-lower">
                            <label for="Q3B" class="fs-field-label fs-anim-upper">{{quiz2.question.2.reponses.reponse.1.libelleReponse}}</label>
                            <p class="reponseFormation">{{ quiz2Resultat[2] }}</p>
                        </li>

                        <li id="Q4">
                            <h3 class="fs-anim-upper"><span class="numeroQuestionActive">4.</span> {{quiz2.question.3.texteQuestion}}</h3>
                            <input id="Q4A" type="radio" name="Q4" value="0" class="fs-anim-lower" required>
                            <label for="Q4A" class="fs-field-label fs-anim-upper">{{quiz2.question.3.reponses.reponse.0.libelleReponse}}</label>
                            <input id="Q4B" type="radio" name="Q4" value="1" class="fs-anim-lower">
                            <label for="Q4B" class="fs-field-label fs-anim-upper">{{quiz2.question.3.reponses.reponse.1.libelleReponse}}</label>
                            <p class="reponseFormation">{{ quiz2Resultat[3] }}</p>
                        </li>

                        <li id="Q5">
                            <h3 class="fs-anim-upper"><span class="numeroQuestionActive">5.</span> {{quiz2.question.4.texteQuestion}}</h3>
                            <input id="Q5A" type="radio" name="Q5" value="0" class="fs-anim-lower" required>
                            <label for="Q5A" class="fs-field-label fs-anim-upper">{{quiz2.question.4.reponses.reponse.0.libelleReponse}}</label>
                            <input id="Q5B" type="radio" name="Q5" value="1" class="fs-anim-lower">
                            <label for="Q5B" class="fs-field-label fs-anim-upper">{{quiz2.question.4.reponses.reponse.1.libelleReponse}}</label>
                            <p class="reponseFormation">{{ quiz2Resultat[4] }}</p>
                        </li>
                    </ol><!-- /fs-fields -->
                    {# <button class="fs-submit" type="submit">Send answers</button> #}
                    <input id='validerQuizFormation' name='validerQuizFormation' type="submit" value="Valider mes choix">
                </form><!-- /fs-form -->
            </div><!-- /fs-form-wrap -->
        </div><!-- /container -->











        {% endif %}
        {{ include("footer.html.twig") }}
    </body>

    <script src="../../js/vendor/fullscreen_form/classie.js"></script>
    <script src="../../js/vendor/fullscreen_form/selectFx.js"></script>
    <script src="../../js/vendor/fullscreen_form/fullscreenForm.js"></script>
    <script>
        (function() {
            var formWrap = document.getElementById( 'fs-form-wrap' );

            [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
                new SelectFx( el, {
                    stickyPlaceholder: false,
                    onChange: function(val){
                        document.querySelector('span.cs-placeholder').style.backgroundColor = val;
                    }
                });
            } );

            new FForm( formWrap, {
                onReview : function() {
                    classie.add( document.body, 'overview' ); // for demo purposes only
                }
            } );
        })();
    </script>


</html>
