<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{{ niveau }}css/main.css">

        {#<script src="{{ niveau }}js/vendor/modernizr.js"></script>#}
        <script src="../../js/vendor/fullscreen_form/modernizr.custom.js"></script>


{# Fullscreen-form #}
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/demo.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/component.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/cs-select.css" />
<link rel="stylesheet" type="text/css" href="../../js/vendor/fullscreen_form/cs-skin-boxes.css" />

        <title>Principaux | Claddagh</title>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{ include("header.html.twig") }}
        {% if erreur is not empty %}
            <p>{{ erreur }}</p>
        {% else %}

        <main id="page-principaux">
            <h1>Nos plats principaux</h1>
            <a href="index.php" id="lien-retour">Retour aux choix de menus</a>
           {% for principal in principaux %}
                <p class="nom-item">{{ principal.nom_plat }}</p>
                <p class="description-item">{{ principal.description_plat }}</p>
                <p class="description-prix-item">{{ principal.description }}</p>
                <p class="prix-item">{{ principal.prix }}</p>
            {% endfor %}
            <h2>Salades</h2>
            {% for salade in salades %}
                <p class="nom-item">{{ salade.nom_plat }}</p>
                <p class="description-item">{{ salade.description_plat }}</p>
                <p class="description-prix-item">{{ salade.description }}</p>
                <p class="prix-item">{{ salade.prix }}</p>
            {% endfor %}
            <h2>Paninis</h2>
            <p class="description-ajouts-possible">*Tous les paninis sont servis avec des frites et/ou salade et sont disponibles en version wrap</p>
            {% for panini in paninis %}
                <p class="nom-item">{{ panini.nom_plat }}</p>
                <p class="description-item">{{ panini.description_plat }}</p>
                <p class="description-prix-item">{{ panini.description }}</p>
                <p class="prix-item">{{ panini.prix }}</p>
            {% endfor %}
        </main>

        {% endif %}
        {{ include("footer.html.twig") }}
    </body>
</html>
